*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 100px;
}
.block-blue{
  border: blue 1px solid;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.block-red{
  border: red 1px solid;
  height: 200px;
  cursor: pointer;
  width: 200px;
}
